{
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "zustand",
        "",
        "next",
        "react",
        "react-dom",
        "",
        "^react-icons/(.*)$",
        "^@fortawesome/(.*)$",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@components/(.*)$",
        "",
        "^@ui/(.*)$",
        "",
        "^@backend/(.*)$",
        "",
        "^@stores/(.*)$",
        "",
        "^@hooks/(.*)$",
        "",
        "^@app/(.*)$",
        "",
        "classnames|protobufjs",
        "",
        "^@css/(.*)$"
    ]
}
